# Use your own Supabase project details here
VITE_USE_SUPABASE=true
VITE_SUPABASE_URL=https://jbxvbmrfcwjpcleamafu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_yInf-fu43Q-04yNoC94jHg_BdFsMsCe

# Optional: If you want password-reset links to return users to your app
VITE_PASSWORD_RESET_URL=https://your-domain.com/reset-password
